@font-face {
  font-family: 'Vauxhall-regular';
  src: url('../fonts/Vauxhall-Regular.eot');
  src: url('../fonts/Vauxhall-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vauxhall-Regular.woff2') format('woff2'),
       url('../fonts/Vauxhall-Regular.woff') format('woff'),
       url('../fonts/Vauxhall-Regular.ttf') format('truetype'),
       url('../fonts/Vauxhall-Regular.svg#Vauxhall-Regular') format('svg');
}
html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
  font-family: 'Vauxhall-regular';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #FFF;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
  color: #FFF;
  font-size: 1.3em;
  margin: -25px 0px 20px 0px;
  letter-spacing: 3;
  padding-bottom: 20px;
  border-bottom: 3px solid #ce181e;
  text-transform: uppercase;
}
.loading {
  min-width:100%;
  min-height:100%;
  height:100%;
  overflow-y: hidden !important;
  top:0;
  left:0;
  position:fixed;
  z-index:9999 !important;
  background: #FFF;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0.1%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
.span_6_of_6 {width: 100%;}
.span_5_of_6 {width: 83.31%;}
.span_4_of_6 {width: 66.63%;}
.span_3_of_6 {width: 49.95%;}
.span_2_of_6 {width: 33.26%;}
.span_1_of_6 {width: 14.58%; font-size: 24px; padding: 0px 1%; letter-spacing: 2.2;}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
section {
  position: relative;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.slideone {
  background: #FFF;
  padding: 1vh 0px;
  text-align: center;
  overflow: hidden;
}
.pattern {
  z-index: 0;
  width: 100%;
  height: 150vh;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.2 !important;
}
.introt {
  padding: 20px;
  margin-top: -10px;
}
.ctabutton {
  display: inline-block;
  border: 2px solid #ce181e;
  padding: 25px 20px 20px 20px;
  margin: 1em auto;
  color: #222;
  font-size: 1em;
  line-height: 1.1em;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.000, 1);
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.000, 1.050);
  -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.000, 1.050);
  -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.000, 1.050);
  transition: all 300ms cubic-bezier(0.455, 0.030, 0.000, 1.050);
}
.ctabutton:hover {
  color: #FFF;
  background: #ce181e;
  border: 2px solid #FFF;
}
.logo {
  max-width: 18.5%;
}
#introtext {
  color: #222;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.05em;
  line-height: 1.6;
}
.para {
  width: 575px; margin: 0 auto;
}
.bpara {
  color: #ce181e;
  text-transform: uppercase;
  letter-spacing: 2;
  font-size: 1.1em;
  margin-bottom: 20px;
}
.benicon {
  max-height: 90px;
}
.red {
  color: #ce181e;
}
.bunting {
  position: absolute;
  left: 0px;
  max-width: 100%;
  z-index: 0 !important;
}
.bunting img {
  max-width: 100%;
  }
.timelinestart {
  position: absolute;
  top: 36vh;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5;
  opacity: 0;
  color: #444;
}
.blackbg {
  background: #000;
}
.homenations {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/hnbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.football {
  z-index: 99;
  position: absolute;
  left: 335px;
  margin-top: 460px;
}
.imgfootball {
  max-width: 200px;
}
.boot {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 15%;
}
.imgboot {
  max-width: 310px;
}
.shade {
  z-index: 90;
  position: absolute;
  left: 245px;
  margin-top: 570px;
}
.imgshade {
  max-width: 270px;
}
.infobox {
  z-index: 200;
  position: absolute;
  top: 15%;
  right: 85px;
  max-width: 36.5%;
  text-align: left;
  color: #FFF;
  opacity: 0;
}
.infobox h2 {
  font-size: 5em;
  letter-spacing: 20px;
  text-indent: 5px;
}
.infobox p {
  font-size: 0.9em;
  letter-spacing: 1px;
  line-height: 1.2;
}
.bgas {
  position: relative;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}
.astra {
  height: 500vh;
  overflow: scroll;
}
.as1 {background-image: url(../img/astra1.jpg)}
.as2 {background-image: url(../img/astra2.jpg)}
.as3 {background-image: url(../img/astra3.jpg)}
.as4 {background-image: url(../img/astra4.jpg)}
.as5 {background-image: url(../img/astra5.jpg)}
.historyintro {
  position: absolute;
  bottom: 1vh;
  right: 5vh;
  color: #FFF;
  font-size: 15px;
  letter-spacing: 1.5px;
  padding: 50px 20px;
  text-align: center;
  z-index: 3;
}
.redline {
  width: 600px;
  border: none;
  height: 5px;
  background: #ce181e;
  margin: 10px auto;
}
.historyintro h2 {
  font-size: 35px;
}
.incar {
  position: absolute;
  top: 29vh;
  left: 0px;
  z-index: 4;
}
.outcar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: url("../img/outcar.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
}
.ov {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100vh;
  width: 100%;
}
.sunleft {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  height: 100vh;
  width: 100%;
}
.year {
  position: relative;
  top: 0vh;
  left: 0%;
  font-size: 2.5em;
  color: #FFF;
  letter-spacing: 4px;
  margin: 0 auto;
  text-align: center;
  padding: 35px;
  border-right: 2px solid #ce181e;
  display: inline-block;
  width: 170px;
  height: 200px;
}
.caption h2 {
  font-size: 1.2em
}
.caption {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 200px;
  position: relative;
  top: 14vh;
  left: 0%;
  font-size: 1em;
  color: #FFF;
  letter-spacing: 1px;
  text-align: left;
  padding: 35px;
}
.parts {
width: 100%;
max-width: 100%;
background: rgba(69,69,69,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(69,69,69,1)), color-stop(100%, rgba(51,51,51,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%);
background: radial-gradient(ellipse at center, rgba(69,69,69,1) 0%, rgba(51,51,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#333333', GradientType=1 );
}
.bgrad {
  position: absolute;
  z-index: 92 !important;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 100%;
  background: rgba(248,80,50,0);
  background: -moz-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0)), color-stop(100%, rgba(0,0,0,0.9)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(0,0,0,0.9) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(0,0,0,0.9) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(0,0,0,0.9) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(0,0,0,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#000000', GradientType=0 );
  opacity: 0.6;
}
.allpart {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.parts h1 {
  position: relative;
  max-width: 490px;
  font-size: 2.3em;
  margin: 10vh auto;
  letter-spacing: 90px;
  text-indent: 75px;
  width: 490px;
  text-align: center;
  color: #FFF;
  padding: 30px 0px;
  border: 2px solid #FFF;
  z-index: 93 !important;
  line-height: 45px;
  background: rgba(0,0,0,0.05);
  border-radius: 1px;
}
.ola {
  position: relative;
  max-width: 490px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
  font-size: 0.8em;
  letter-spacing: 1.8px;
  line-height: 1.4;
  z-index: 93 !important;
  text-transform: uppercase;
}
.olayt {
  position: relative;
  margin: 0 auto 10vh auto;
  display: block;
  width: 490px;
  font-size: 1.2em;
  padding: 30px 0px;
  border-top: 4px solid #ce181e;
  border-bottom: 4px solid #ce181e;
  color: #FFF;
  letter-spacing: 8px;
  text-indent: 6px;
  text-align: center;
  z-index: 93 !important;
}
.griff {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1 !important;
  opacity: 0.1
}
.partcon {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
}
.partimg {
  position: absolute;
  z-index: 91 !important;
}
.partimg img {
max-height: 200px;
}
.arrowd {
  position: absolute;
  top: 60vh;
  left: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.aranim {
  -webkit-animation: arrow 1.2s infinite;
  -moz-animation: arrow 1.2s infinite;
  -o-animation: arrow 1.2s infinite;
  animation: arrow 1.2s infinite;
}
.spinner-text {
  position:fixed;top:41.5%;
  left:45%;
  margin:16px 0 0 35px;
  font-size:24px;
  color:#ce181e;
  letter-spacing:1.5px;
}
.spinner-text:after {
  -webkit-animation:elip 1s infinite;
  -moz-animation:elip 1s infinite;
  animation:elip 1s infinite;
  content: "";
}
.event5 {
  background: url("../img/event5.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
}
.dial {
  position: absolute;
  top: 514px;
  left: 439px;
  perspective: -1250px;
  -webkit-perspective: -1250px;
}
@-webkit-keyframes elip {
  0% {content: "."}
  25% {content: ".."}
  50% {content: "..."}
  75% {content: "...."}
  100% {content: "....."}
}
@-moz-keyframes elip  {
  0% {content: "."}
  25% {content: ".."}
  50% {content: "..."}
  75% {content: "...."}
  100% {content: "....."}
}
@-o-keyframes elip  {
  0% {content: "."}
  25% {content: ".."}
  50% {content: "..."}
  75% {content: "...."}
  100% {content: "....."}
}
@keyframes elip  {
  0% {content: "."}
  25% {content: ".."}
  50% {content: "..."}
  75% {content: "...."}
  100% {content: "....."}
}
@-webkit-keyframes arrow {
  0%   { opacity: 0; margin-top: 130px; }
  100% { opacity: 1; margin-top: 150px; }
}
@-moz-keyframes arrow {
  0%   { opacity: 0; margin-top: 130px; }
  100% { opacity: 1; margin-top: 150px; }
}
@-o-keyframes arrow {
  0%   { opacity: 0; margin-top: 130px; }
  100% { opacity: 1; margin-top: 150px; }
}
@keyframes arrow {
  0%   { opacity: 0; margin-top: 130px; }
  100% { opacity: 1; margin-top: 150px; }
}
@media only screen and (max-width: 1023px) {
	.col {  margin: 2% 0 2% 0%; }
	.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; text-align: center; }
  .para {width: 100%;}
  #introtext { width: 90%; max-width: 90%;}
  .logo {max-width: 70%;
  }
}
