* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  background: #1d1c20;
}
.plx {
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 70px;
  position: relative;
  z-index: 1 !important;
}
.bg1 {
  background-image: url(../img/bg.png);
  height: 750px;
  background-position: center center;
  background-size: cover;
}
.bg2 {
  background-image: url(../img/bg2.png);
  height: 950px;
  background-position: 50% 50%;
  margin-top: -5%;
}
.bg4 {
  background-image: url(../img/bg4.png);
  height: 950px;
  background-position: 50% 50%;
  margin-top: -5%;
}
.bg5 {
  background-image: url(../img/bg5.png);
  height: 250px;
  background-position: 50% -100%;
  line-height: 250px;
}
hr {
  border: none;
  background: rgba(255,255,255,0.7);
  max-width: 25%;
  position: relative;
  margin: 30px auto;
  height: 2px;
  border-radius: 1px;
}
.titlewrap {
  position: absolute;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  top: 22%;
  height: 190px;
  line-height: 50px;
}
.title {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  animation: titlea 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-animation: titlea 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-animation: titlea 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-animation: titlea 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-animation: titlea 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
}
.plx img {
  max-width: 75px;
  margin-bottom: 0px;
}
.logo, .thh {
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -o-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -ms-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.logo:hover {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  -ms-transform: scale(1.8);
}
.logo:hover + .thh  {
  margin-top: 30px;
  opacity: 0;
}
.plx h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  position: absolute;
  width: 100%;
}
section {
  position: relative;
  padding: 90px 0px;
  margin: 0 auto;
  z-index: 500 !important;
  background: rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}
.sskew {
    margin-top: -5%;
}
section .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -10%;
  overflow: visible;
  width: 100%;
  height: 120%;
  background: #1d1c20;
  z-index: -1;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}
section .skewend {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  overflow: visible;
  width: 100%;
  height: 120%;
  background: url("../img/bg5.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -1;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  padding-bottom: 120px;
}
.skewend h1 {
  position: absolute;
  top: 160px;
  width: 100%;
  left: 0px;
  text-align: center;
}
section h1 {
  position: relative;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0 auto 25px auto;
}
section p {
  position: relative;
  margin: 0px auto;
  width: 50%;
  color: #cdd6e2;
  font-size: 14px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto 25px auto;
  font-family: 'Roboto', sans-serif;
}
.bear {
  position: relative;
  font-weight: 700;
  font-size: 14vw;
  letter-spacing: 20px;
  text-align: center;
  overflow: visible;
  padding-bottom: 35px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  overflow: hidden;
  max-width: 95%;
  margin: 0 auto;
}
.al {
  background-image: url('../img/bg3.png');
  background-size: cover;
  overflow: hidden;
}
.lax {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 14vw;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  text-align: center;
}
@keyframes titlea {
  0% {opacity: 0;}
  30% { opacity: 0; transform: scale(1.4);}
  70% { opacity: 0.8; transform: scale(0.95);}
  99% { opacity: 1; transform: scale(1);}
}
-webkit-keyframes titlea {
  0% {opacity: 0;}
  30% { opacity: 0; transform: scale(1.4);}
  70% { opacity: 0.8; transform: scale(0.95);}
  99% { opacity: 1; transform: scale(1);}
}
-moz-keyframes titlea {
  0% {opacity: 0;}
  30% { opacity: 0; transform: scale(1.4);}
  70% { opacity: 0.8; transform: scale(0.95);}
  99% { opacity: 1; transform: scale(1);}
}
-o-keyframes titlea {
  0% {opacity: 0;}
  30% { opacity: 0; transform: scale(1.4);}
  70% { opacity: 0.8; transform: scale(0.95);}
  99% { opacity: 1; transform: scale(1);}
}
@media all and (max-width: 640px) {
  .bg5 {
    padding-top: 105px;
  }
  section {
    padding: 25px 0px;
  }
  .skewend h1 {
    top: 50%;
  }
  .titlewrap {
    top: 15%;
  }
  .plx h1 {
    font-size: 14px;
  }
  .bg1 {
    height: 500px;
    background-position: 58% 0%;
  }
  .bg2 {
    height: 800px;
    background-position: 60% 0%;
  }
  section p, section h1 {
    width: 90%;
      text-align: left;
  }
  hr {
    max-width: 75%;
    height: 1px;
    margin: 30px 5%;
  }
}
